.cache/
.venv/
.vscode/
.env
**/__pycache__/
microsoft_graphrag
test.json
output/figures
output/graph_test.gexf
output/graph_V2.gexf
output/graph_V3.gexf
output/graph.gexf
output/community_summaries_test.json
output/community_summaries.json
output/community_summaries_v1.json
output/status_1.json
output/status.json
lib/

